forge/
nbproject/
build/
bin/
libs/
reobf/
*.class
/forge/fml/eclipse/.metadata/
downloads/
*.number
build.zip
download.zip
originals.zip
*.txt
*.bat
eclipse/
gradle/
.idea/
.gradle/
saves/
resourcepacks/
out/
*.env
*.iml
*.log
*.ipr
*.iws
config/*.cfg
mods/
*.gradle
*.lck
gradlew